/* ν‘Έν„° */
.footer {
  display: flex;
  justify-content: space-around;
  background: white;
  padding: 20px 0;
  text-align: center;
  font-size: 17px;
  color: #666;
}

.footer-col {
  flex: 1;
  text-align: center;
}

.footer-bold {
  font-weight: 700;
}