/* 네비게이션 */
.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--bg-color);
  padding: 5px 20px;
  display: flex;
  font-size: 20px;
  align-items: center;
  z-index: 1000;
}

.nav-menu a {
  margin: 0 15px;
  text-decoration: none;
  color: rgb(26, 26, 26);
  font-weight: 700;
}

.nav-menu a:hover {
  color: var(--accent-color);
}

.nav-menu a + a {
  border-left: 2px solid rgba(128, 128, 128, 0.7);
  padding-left: 20px;
  margin-left: 0;
}

.logo {
  height: 80px;
  object-fit: contain;
  margin-right: 20px
}

.bold-p {
  font-weight: 700;
  color: rgb(43, 43, 43);
}

/* ======메뉴 섹션====== */
/* 메뉴 카테고리 */
.menu-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 7px 0;
}

.menu-filter button {
  font-family: 'GowoonDodum';
  font-size: 15px;
  font-weight: 700;
  padding: 5px 10px;
  border: none;
  background: rgb(255, 233, 200);
  color: black;
  cursor: pointer;
  border-radius: 7px;
  font-family: 'GowoonDodum';
}

.menu-filter button:hover {
  background: var(--accent-color);
  color: white;
}

.menu-filter .active {
  background: var(--accent-color);
  color: white;
  opacity: 1;
}

/* 메뉴 카드 */
.menu-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#menu h3 {
  font-weight: 700;
  border-left: 2px solid rgba(128, 128, 128, 0.7);
  padding-left: 6px;
}

.menu-card {
  position: relative;
  flex: 1 1 calc(33.333% - 20px);
  max-width: 800px;
  background: var(--card-bg);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 15px;
  padding: 0 15px 0 15px;
  margin: 10px 10px 0 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.menu-tax {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  color: var(--primary-color);
}

.menu-text {
  font-size: 17px;
}

.menu-layout h4 {
  font-size: 20px;
  position: relative;
  padding-right: 70px;
  line-height: 1.4;

}

.menu-best {
  font-size: 14px;
  position: absolute;
  right: 10px;
  background: rgb(255, 90, 90);
  color: white;
  padding: 0 5px;  
  border-radius: 5px;
}

.menu-new {
  font-size: 14px;
  position: absolute;
  right: 10px;
  background: rgb(35, 187, 60);
  color: white;
  padding: 0 5px;
  border-radius: 5px;
}